h1 This is a date
<div class="band">
    <div class='box'>
        <a href="/exam" class="card">
        //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
        <article>
            <h1>This is the exam title. For example: "Unit 1: HTML"</h1>
            //- <p>This is the exam description. For example: "This exam includes lectures and questions covered in Unit 1."</p>
            <span>Started</span>
        </article>
        </a>
        <div class='wave'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
    <div class='box'>
        <a href="/exam" class="card">
        //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
        <article>
            <h1>This is the exam title. For example: "Unit 1: HTML"</h1>
            //- <p>This is the exam description. For example: "This exam includes lectures and questions covered in Unit 1."</p>
            <span>NotStarted</span>
        </article>
        </a>
    </div>
</div>
for each in examcard
    h1 This is a date
    <div class="band">
        for detail in each
            <div class="box">
                <a href="/exam" class="card">
                <article>
                    h1 #{detail[1]}
                    span #{detail[2]}
                </article>
                </a>
            </div>
    </div>
//- h1 Today
//- <div class="band">
//-     //- <div class="item-1">
//-     //-     <a href="https://design.tutsplus.com/articles/international-artist-feature-malaysia--cms-26852" class="card">
//-     //-     <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);"></div>
//-     //-     <article>
//-     //-         <h1>International Artist Feature: Malaysia</h1>
//-     //-         <span>Mary Winkler</span>
//-     //-     </article>
//-     //-     </a>
//-     //- </div>
//-     <div class='box'>
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
//-         <article>
//-             <h1>This is the exam title. For example: "Unit 1: HTML"</h1>
//-             //- <p>This is the exam description. For example: "This exam includes lectures and questions covered in Unit 1."</p>
//-             <span>Started</span>
//-         </article>
//-         </a>
//-         <div class='wave'></div>
//-         <div class='wave -two'></div>
//-         <div class='wave -three'></div>
//-     </div>
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);"></div>
//-         <article>
//-             <h1>Created by You, July Edition</h1>
//-             //- <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
//-             <span>Melody Nieves</span>
//-         </article>
//-         </a>
//-     </div>
//- </div>
//- h1 Tomorrow
//- <div class="band">
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
//-         <article>
//-             <h1>How to Code a Scrolling “Alien Lander” Website</h1>
//-             //- <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
//-             <span>Kezz Bracey</span>
//-         </article>
//-         </a>
//-     </div>
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
//-         <article>
//-             <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
//-             <span>Rose</span>
//-         </article>
//-         </a>
//-     </div>
//- </div>
//- h1 April 11
//- <div class="band">
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
//-         <article>
//-             <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>
//-             <span>Marie Gardiner</span>
//-         </article>
//-         </a>
//-     </div>
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
//-         <article>
//-             <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
//-             <span>Kendra Schaefer</span>
//-         </article>
//-         </a>
//-     </div>
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
//-         <article>
//-             <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
//-             <span>Kendra Schaefer</span>
//-         </article>
//-         </a>
//-     </div>
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
//-         <article>
//-             <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
//-             <span>Kendra Schaefer</span>
//-         </article>
//-         </a>
//-     </div>
//-     <div class="box">
//-         <a href="/exam" class="card">
//-         //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
//-         <article>
//-             <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
//-             <span>Kendra Schaefer</span>
//-         </article>
//-         </a>
//-     </div>
//- </div>