h1 This is example section
<div class="band">
    <div class='box'>
        <a href="/exam" class="card">
        //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
        <article>
            <h1>This is the exam title. For example: "Unit 1: HTML"</h1>
            //- <p>This is the exam description. For example: "This exam includes lectures and questions covered in Unit 1."</p>
            <span>Started</span>
        </article>
        </a>
        <div class='wave'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
    <div class='box'>
        <a href="/exam" class="card">
        //- <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);"></div>
        <article>
            <h1>This is the exam title. For example: "Unit 1: HTML"</h1>
            //- <p>This is the exam description. For example: "This exam includes lectures and questions covered in Unit 1."</p>
            <span>NotStarted</span>
        </article>
        </a>
    </div>
</div>
p Below this line is dynamic data
p -----------
for each in examcard
    h1 #{each[0]}
    <div class="band">
    for detail in each.slice(1) 
        <div class="box">
            a(id=detail[0] name="examLink" class="card")
                <article>
                    h1 #{detail[1]}
                    span #{detail[2]}
                </article>
            if(detail[3])
                <div class='wave'></div>
                <div class='wave -two'></div>
                <div class='wave -three'></div>
        </div>
    </div>