<main class="cd-main-content">
    h1 These are the student(s) who took the exam
    p(id="examidofthisexam") #{examid}
    <ul class="list-group">
        for each in students
            <li class="list-group-item">
                a(name="examresponse") #{each}
            </li>
    </ul>
</main>
