<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        style
            include css/style.css
    </head>
    <body>
        <header>
            <nav class="cd-stretchy-nav">
                <a class="cd-nav-trigger" href=""><span aria-hidden="true"></span></a>
                <ul>
                    <li><a href=""><span>Home</span></a></li>
                    <li><a href=""><span>Profile</span></a></li>
                    <li><a href=""><span>Exam</span></a></li>
                    <li><a href=""><span>Grade</span></a></li>
                </ul>
                <span aria-hidden="true" class="stretchy-nav-bg"></span>
            </nav>
        </header>
        <main class="cd-main-content">
            h1 This is placeholder
        </main>
    </body>
    script
        include js/modernizr.js
        include js/jquery-2.1.4.js
        include js/main.js
</html>