<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
        //- <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        style
            include css/style.css
            include css/tagselector.css
            include css/filepond.css
        //-     include css/prism.min.css
        //-     include css/codeflask.css
        //- style.
        //-     .codeview {
        //-         height:222px;
        //-         border:1px solid #ccc;
        //-         background:#f5f5f5;
        //-     }
    </head>
    <body>
        <header>
            <nav class="cd-stretchy-nav">
                <a class="cd-nav-trigger" href="javascript:void(0)"><span aria-hidden="true"></span></a>
                <ul>
                    //- <li><a href="javascript:void(0)"><span>Home</span></a></li>
                    <li><a href="javascript:void(0)"></a></li>
                    <li><a href="javascript:void(0)"></a></li>
                    <li><a href="javascript:void(0)"></a></li>
                    <li><a href="javascript:void(0)"></a></li>
                    <li><a name="logout" href="javascript:void(0)"></a></li>
                </ul>
                <span aria-hidden="true" class="stretchy-nav-bg"></span>
            </nav>
        </header>
        <main class="cd-main-content sidebyside">
            <div class="contact-area">
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <aside>
                                    <h1>Question 1</h1>
                                    <p>Write a function named addOnlyNumbers with parameters foo and bar. If foo and bar are both of type "number", return the result of foo plus bar. If foo and bar are not both numbers, return NaN.</p>
                                    <p>Invoke your function with arguments 5 and Math.PI.</p>
                                    <p>Invoke your function with arguments 'fidget spinner' and 22.</p>
                                </aside>
                            </div>
                        </section>
                        <div class="content" id="bottom">
                            <aside>
                                
                            </aside>
                        </div>
                    </main>
                </div>
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <aside>
                                    <h1>Question 2</h1>
                                    <p>This is an example of single choice question. Please choose a.</p>
                                </aside>
                            </div>
                        </section>
                        <div class="content" id="bottom">
                            <aside>
                                <div class="wrapper typo">
                                    <div class="list"><span class="placeholder">?</span>
                                        <ul class="list__ul">
                                            <li><a></a></li>
                                            <li><a>This is choice a.</a></li>
                                            <li><a>This is choice b; don't choose this.</a></li>
                                            <li><a>This is choice c; incorrect answer.</a></li>
                                            <li><a>This is choice d. Ignore this.</a></li>
                                            <li><a>All the answers above. All the answers above!</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </main>
                </div>
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <aside>
                                    <h1>Question 3</h1>
                                    <p>This is an example of multiple choice question. Please chooce a and c.</p>
                                </aside>
                            </div>
                        </section>
                        <div class="content" id="bottom">
                            <aside>
                                <select id="field2" multiple>
                                    <option value="volvo">This is choice a.</option>
                                    <option value="saab">This is choice b; don't choose this.</option>
                                    <option value="mercedes">This is choice c; one of the correct answers;</option>
                                    <option value="audi">This is choice d. Ignore this.</option>
                                </select>
                            </aside>
                        </div>
                    </main>
                </div>
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <aside>
                                    <h1>Question 4</h1>
                                    <p>This is an example of file submission question. Please submit a file.</p>
                                </aside>
                            </div>
                        </section>
                        <div class="content" id="bottom">
                            <aside>
                                <input type="file">
                            </aside>
                        </div>
                    </main>
                </div>
            </div>
        </main>
    </body>
    script
        include js/modernizr.js
        include js/jquery-2.1.4.js
        include js/tagselector.js
        include js/filepond.js
        include js/main.js
    //-     include js/prism.min.js
    //-     include js/codeflask.js
    //- script.
    //-     var flask = new CodeFlask
    //-     flask.run('#code', {
    //-         language: 'js'
    //-     });
</html>