
@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  h1 {
    font-family: Poppins-Bold;
  }
  /* html {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
  } */
  
  .band {
    width: 80%;
    /* max-width: 1240px; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
  }
  
  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
  }
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (min-width: 1100px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* card */
  
  .card {
    border-radius: 11px;
    min-height: 100%;
    width: 100%;
    background: rgb(111,111,111);
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* color: white; */
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  /* .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  } */
  
  .card article {
    padding: 20px;
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  .card p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }
  
  /* typography */
  .band h1 {
    font-size: 20px;
    margin: 0;
    color: white;
  }
  
  .card span {
    z-index: 2;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: Poppins-Bold;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }

  .box {
    width: 101%;
    height: 300px;
    border-radius: 11px;
    /* box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); */
    /* background: #fbfcee; */
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
  }
  .box:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  }
  
  .wave {
    opacity: .5;
    position: absolute;
    top: 480px;
    left: 30%;
    background: #57b846;
    width: 700px;
    height: 700px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 40%;
    animation: drift 3000ms infinite linear;
  }

  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift1 7000ms infinite linear;
    opacity: .1;
    background: yellow;
  }
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5)); */
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    /* color: white; */
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-indent: .3em;
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes drift1 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  